<div class="p-2 m-4 bg-zinc-50 rounded-md shadow-md hover:scale-105 transition-transform cursor-pointer w-full max-w-52">
  <img [src]="product.imageUrls[0]"
       class="w-full h-64 md:h-72 object-cover rounded-t-md"
  >
  <div class="flex flex-col p3">
    <p class=" font-bold truncate" title="{{ product.productName }}">{{ product.productName }}</p>
    <div>
      <div class="flex gap-1 my-2">
        @for (star of stars; track star; let i = $index) {
          <div
                  class="  transition-transform focus:outline-none">
            <lucide-icon [img]="Star" [color]="(i + 1) <= ( product.averageRating ) ? '#f59e0b' : '#000'"
                        class="w-4 h-4"/>
          </div>
        }
      </div>
    </div>
    <div class="font-semibold">
      <span class="text-xs">£</span>
      <span class="text-xl">{{ product?.price | number: '1.0-2' | splitPrice:'whole' }}</span>
      <span class="text-xs">{{ product?.price | number: '1.0-2' | splitPrice:'decimal' }}</span>
    </div>
  </div>
</div>
